@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F9F9;
  --border: #D3D3D3;
  --foreground: #171717;
  --primary:#59A1A5;
  --secondary:#59A1A51A;
}

body {
  color: var(--foreground);
  background: var(--background);
}

:where(.css-dev-only-do-not-override-vrrzze).ant-checkbox-checked .ant-checkbox-inner{
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner, :where(.css-dev-only-do-not-override-vrrzze).ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner{
  border-color: var(--primary) !important;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-form-item .ant-form-item-label >label{
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-form-item .ant-form-item-label >label::after{
  visibility: visible !important;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*" !important;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-form-item .ant-form-item-label >label::before{
  content: unset !important;
}

.header-nav{
  position: sticky;
  top: 0;
  z-Index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  background:var(--background);
  border-bottom:1px solid var(--border);
}

.sidebar{
  position: absolute;
  height: 100vh;
  background: var(--background);
  border-right: 1px solid var(--border);
  z-index: 1;
}

.menu-sidebar{
  margin-top:100px;
  background: var(--background);
}

:where(.css-dev-only-do-not-override-vrrzze).ant-btn-variant-text:not(:disabled):not(.ant-btn-disabled):hover{
  background: var(--secondary) !important;
  color: var(--primary) !important;
}

.ant-layout-sider .button-collapse{
  left: 185px;
  font-size: 12px;
  background: var(--border);
  border-radius: 50%;
  position: absolute;
  top: 70px;
  z-index: 1;
  width: 25px;
  height: 25px;
}

.ant-layout-sider-collapsed .button-collapse{
  left: 20px;
}

.content-menu{
  background: var(--background);
  overflow: auto;
  height: 90vh;
}

.ant-layout-sider + .ant-layout .content-menu{
  padding: 35px 45px 20px 15rem;
}

@media (max-width: 767px) {
  .ant-layout-sider + .ant-layout .content-menu{
    padding: 35px 20px 20px 0rem;
  }

  .ant-layout-sider .footer{
    display: none;
  }
}

.ant-layout-sider-collapsed + .ant-layout .content-menu{
  padding: 35px 25px 20px 6rem;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-menu .ant-menu-item-divider{
  margin-block: 10px;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-menu .ant-menu-item-group-title{
  padding: 0 16px;
  color: var(--foreground);
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-menu-light .ant-menu-item-selected{
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover{
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover{
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
}

:where(.css-dev-only-do-not-override-vrrzze) a:hover{
  color: var(--primary) !important;
}

.ant-layout-sider .footer{
  display: block;
}

.ant-layout-sider-collapsed .footer{
  display: none;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-input-outlined:hover {
  border-color: var(--primary) !important;
  box-shadow: var(--secondary) !important;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-input-outlined:focus, :where(.css-dev-only-do-not-override-vrrzze).ant-input-outlined:focus-within{
  border-color: var(--primary) !important;
  box-shadow: var(--secondary) !important;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector{
  border-color: var(--primary) !important;  
  box-shadow: var(--secondary) !important;
}

.ant-select-focused:where(.css-dev-only-do-not-override-vrrzze).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector{
  border-color: var(--primary) !important;  
  box-shadow: var(--secondary) !important;
}

.ant-form-item-explain-error{
  margin-bottom: 12px;
}

.ant-tabs .ant-tabs-tab{
  margin-left:20px
}

.ant-tabs-ink-bar{
  width: 70px !important;
  background: var(--primary) !important;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: var(--primary) !important;
  text-shadow: 0 0 0.25px var(--primary) !important;
  box-shadow: 0 2px 0 0 0 0.25px var(--primary) !important;
}

:where(.css-dev-only-do-not-override-vrrzze).ant-tabs .ant-tabs-tab:hover{
  color: var(--primary) !important;
}

.chart-container {
  min-height: 250px;
}

.ant-table-content{
  overflow: auto;
}